{% extends 'base.html' %}

{% block title %}Register - Smart OPD {% endblock %}

{% block content %}
<h1>Create account</h1>

{% if form.errors %}
<div class="errors">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p style="color: red;">{{field}}:{{error}}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}

    <label for="id_username">Username</label>
    <input type="text" name="username" id="id_username" required>

    <label for="id_email">Email</label>
    <input type="email" name="email" id="id_email" required>

    <label for="id_phone">Phone</label>
    <input type="tel" name="phone" id="id_phone" pattern="[6-9][0-9]{9}" placeholder="9876543210">

    <p>Account type: <strong>Patient</strong></p>

    <label for="id_password">Password</label>
    <input type="password" name="password" id="id_password" required>
    
    <label for="id_password_confirm">Confirm password</label>
    <input type="password" name="password_confirm" id="id_password_confirm" required>

    <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="{% url 'accounts:login' %}">Log in</a> </p>

{% endblock %}